<!DOCTYPE html>
<html xmlns:th="http://thymelear.org">
<head>
<meta charset="ISO-8859-1">

<!-- AGREGO BOOTSTRAP DENTRO DE LA ETIQUETA HEAD -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<title>Listado de vacantes</title>
</head>
<body>



<h1 class="text-primary">Lista de vacantes</h1>

<table class="table  table-striped table-bordered table-hover" >      

<tr>

<th>Id  </th>
<th>Nombre</th>
<th>Fecha de pub</th>
<th>Salario</th>
<th>Descripcion</th>
</tr>


<tr th:each= "empleo: ${vacantes}">

<td th:text ="${empleo.id}"></td>
<td th:text ="  ${empleo.nombre}"></td>
<td th:text ="  ${empleo.fecha}"></td>
<td th:text ="  ${empleo.salario}"></td>
<td th:text ="  ${empleo.descripcion}"></td>

</tr>



</table>

<!-- AGREGO EL SCRIPT ANTES DE QUE TERMINE LA ETIQUETA BODY -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>